@page "/Counter"
<h1>Timer</h1>

<button @onclick="StartTimer">Start</button>
<p>@Count</p>

@if(Count==0)
{
    <div>oooolduuuuu</div>
}
else
            {
                <div>bekliyoruuuuuuuz</div>
            }
@code {
    private static System.Timers.Timer aTimer;
    private int Count = 10;
    public void StartTimer()
    {
        aTimer = new System.Timers.Timer(1000);
        aTimer.Elapsed += StartCountDown;
        aTimer.Enabled = true;

    }

    public void StartCountDown(Object source, System.Timers.ElapsedEventArgs e)
    {
        if (Count > 0)
        {
            Count -= 1;
        }
        else
        {
            aTimer.Enabled = false;
        }
        InvokeAsync(() =>
        {
            StateHasChanged();
        });
    }

}